{% load static %}
{% load users_extras_test %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Dashboard Beta - McReif</title>
  <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/fontawesome5-overrides.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/Bootstrap-DataTables.css' %}">
  <link rel="stylesheet" href="{% static 'css/CDRReporteCuotas.css' %}">
  <link rel="stylesheet" href="{% static 'css/Corporate-Footer-Clean.css' %}">
  <link rel="stylesheet" href="{% static 'css/Data-Summary-Panel---3-Column-Overview--Mobile-Responsive.css' %}">
  <link rel="stylesheet" href="{% static 'css/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.css' %}">
  <link rel="stylesheet" href="{% static 'css/Feedback-Form.css' %}">
  <link rel="stylesheet" href="{% static 'css/gradient-navbar.css' %}">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
  <link rel="stylesheet" href="{% static 'css/Map-Clean.css' %}">
  <link rel="stylesheet" href="{% static 'css/Modern-Contact-Form.css' %}">
  <link rel="stylesheet" href="{% static 'css/Navigation-Menu.css' %}">
  <link rel="stylesheet" href="{% static 'css/Off-Canvas-Sidebar-Drawer-Navbar.css' %}">
  <link rel="stylesheet" href="{% static 'css/Pretty-Footer.css' %}">
  <link rel="stylesheet" href="{% static 'css/Profile-Edit-Form.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/RAFFY.css' %}">
  <link rel="stylesheet" href="{% static 'css/Animated-Type-Heading.css' %}">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-dark navbar-expand-md" id="app-navbar" >
    <div class="container-fluid"><a class="navbar-brand" href="#"><img src="../static/img/mc.png" id="brand-logo"></img></a><button style="background-color:transparent" data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
      <div
      class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav ml-auto">

        <li class="nav-item-dropdown" role="presentation">
          <div class="dropdown btn-group" role="group"><button class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button"><i class="fa fa-envelope" style="color: rgba(0,0,0,0.5);"></i></button>
            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">My notifications </a></div>
          </div>
        </li>

        <li class="nav-item-dropdown">
          <div class="dropdown btn-group" role="group"><button class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button"><i class="fa fa-language" style="color: rgba(0,0,0,0.5);"></i></button>
            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="index_es.html">Spanish </a><a class="dropdown-item" role="presentation" href="index.html">English </a></div>
          </div>
        </li>


        <li class="nav-item-dropdown">
          <div class="dropdown btn-group" role="group"><button class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button"><i class="fa fa-user" style="color: rgba(0,0,0,0.5);"></i></button>
            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">Profile </a><a class="dropdown-item" role="presentation" href="#">Settings </a><a class="dropdown-item" role="presentation" href="logout">Logout </a></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>



<nav class="navbar navbar-dark fixed-top bg-dark off-canvas" data-right-drawer="0" data-open-drawer="1" style="width: 200px;height: 944px;">
  <div class="container-fluid flex-column"><button class="btn btn-dark drawer-knob" type="button" data-open="drawer"><i class="fas fa-bars"></i></button>
    <div class="d-flex justify-content-between brand-line"><a class="navbar-brand" href="#">McReif</a><button class="btn btn-dark" type="button" data-dismiss="drawer"><span class="sr-only">Toggle Navigation&nbsp;</span><i class="fas fa-times"></i></button></div>
    <ul class="nav navbar-nav flex-column drawer-menu">
      <li class="nav-item" role="presentation" href="index.html"><a class="nav-link active" href="index.html"><i class="fas fa-dashboard"></i>&nbsp; Dashboard</a></li>
      <li class="nav-item" role="presentation"><a class="nav-link" href="products.html"><i class="fas fa-store-alt"></i>&nbsp; Products</a></li>
      <li class="nav-item" role="presentation"><a class="nav-link" href="sales.html"><i class="fa fa-shopping-cart"></i>&nbsp; &nbsp;Marketing</a></li>
      <li class="nav-item" role="presentation"><a class="nav-link" href="customers.html"><i class="fa fa-users"></i>&nbsp; Customers</a></li>
      <li class="nav-item" role="presentation"><a class="nav-link" href="reports.html"><i class="fa fa-print"></i>&nbsp; Reports</a>
        <li class="nav-item" role="presentation"><a class="nav-link" href="/logout"><i class="fa fa-print"></i>&nbsp; Logout</a>
        </ul>
      </div>
</nav>
<h1 class="text-left d-xl-flex justify-content-xl-center" data-aos="fade-left" data-aos-duration="800" data-aos-delay="300" data-aos-once="true">Select a category or swipe for see all charts</h1>
<!-- Start: Espacio --><div><br><br>



</div>
<!-- End: Espacio -->
<!-- Start: RAFFY -->
<section data-aos="fade-left" data-aos-duration="900" data-aos-delay="400" data-aos-once="true" class="py-5">
    <!-- Start: Animated Type Heading -->				<div class="caption v-middle text-center">
      <h1 class="cd-headline clip">
              <span class="blc">I'm  </span>
              <span class="cd-words-wrapper">
                <b class="is-visible">Seller.</b>
                        <b>Better.</b>
                        <b>Creative.</b>
                        <b>Profitable.</b>
                        <b>part of McReif.</b>
              </span>
            </h1>
    </div>
    <!-- End: Animated Type Heading -->
    <!-- Start: Espacio --><div><br><br>



</div>
    <!-- End: Espacio -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <!-- Start: card container -->
                <div class="card-container-imagia">
                    <!-- Start: card -->
                    <div class="card-imagia">
                        <!-- Start: front -->
                        <div class="front-imagia">
                            <!-- Start: cover image -->
                            <div class="cover-imagia"><img class="w-100" alt="" src="assets/img/order2.jpg"></div>
                            <!-- End: cover image -->
                            <!-- Start: user image -->
                            <div class="user-imagia"><img class="rounded-circle" alt="" src="assets/img/orders.png" style="height: 125px;"></div>
                            <!-- End: user image -->
                            <!-- Start: texte -->
                            <div class="py-1 px-3 text-center">
                                <p class="text-secondary mb-3" style="margin-top: 15px;"><em>Manage your orders and see where you can improve, as well as observe data on returns</em><br></p>
                            </div>
                            <!-- End: texte -->
                            <!-- Start: footer -->
                            <div class="footer-imagia w-100 text-secondary position-absolute text-center py-2"><span><i class="fa fa-plus"></i> More info</span></div>
                            <!-- End: footer -->
                        </div>
                        <!-- End: front -->
                        <!-- Start: back -->
                        <div class="back-imagia">
                            <!-- Start: content -->
                            <div class="d-flex align-items-center h-100 px-3">
                                <div>
                                    <div class="text-center"><img class="img-fluid rounded-circle" alt="" src="assets/img/orders.png" style="width: 80px;margin: 0 auto;"></div>
                                    <p class="text-left text-sm-left text-center" style="margin-bottom: 10px;font-size: 12px;"><strong>OPTIMIZATIONS:</strong></p>
                                    <ul>
                                        <li style="font-size: 12px;">62% Delivery time</li>
                                        <li style="font-size: 12px;">15% Handling time</li>
                                        <li style="font-size: 12px;">11% Product wrap</li>
                                    </ul>
                                    <p class="text-left text-sm-left text-center" style="margin-bottom: 10px;font-size: 12px;"><strong>TOOLS AVAILABLE:</strong><br></p>
                                    <ul>
                                        <li style="font-size: 12px;">Junglescout</li>
                                        <li style="font-size: 12px;">Sellics</li>
                                        <li style="font-size: 12px;">Helium 10</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End: content -->
                            <!-- Start: footer -->
                            <div class="footer-imagia w-100 text-secondary position-absolute text-center py-2"><a class="btn btn-primary" role="button" style="padding: 6px 40px;background-color: #5a66dd;" href="charts/orders.html" target="_blank">VISIT THE WEBSITE</a></div>
                            <!-- End: footer -->
                        </div>
                        <!-- End: back -->
                    </div>
                    <!-- End: card -->
                </div>
                <!-- End: card container -->
            </div>
            <div class="col-md-6 col-lg-3">
                <!-- Start: card container -->
                <div class="card-container-imagia">
                    <!-- Start: card -->
                    <div class="card-imagia">
                        <!-- Start: front -->
                        <div class="front-imagia">
                            <!-- Start: cover image -->
                            <div class="cover-imagia"><img class="w-100" alt="" src="assets/img/products2.jpg"></div>
                            <!-- End: cover image -->
                            <!-- Start: user image -->
                            <div class="user-imagia"><img class="rounded-circle" alt="" src="assets/img/product.jpg" style="width: 130px;height: 130px;"></div>
                            <!-- End: user image -->
                            <!-- Start: texte -->
                            <div class="py-1 px-3 text-center">
                                <p class="text-secondary mb-3" style="margin-top: 15px;"><em>See the inventory of your products and how to improve your position in the marketplaces</em><br></p>
                            </div>
                            <!-- End: texte -->
                            <!-- Start: footer -->
                            <div class="footer-imagia w-100 text-secondary position-absolute text-center py-2"><span><i class="fa fa-plus"></i> More info</span></div>
                            <!-- End: footer -->
                        </div>
                        <!-- End: front -->
                        <!-- Start: back -->
                        <div class="back-imagia">
                            <!-- Start: content -->
                            <div class="d-flex align-items-center h-100 px-3" style="padding: 0;">
                                <div>
                                    <!-- Start: Logo back -->
                                    <div class="text-center"><img class="img-fluid rounded-circle" alt="" src="assets/img/PRODUCT.JPG" style="width: 80px;margin: 0 auto;height: 80PX;"></div>
                                    <!-- End: Logo back -->
                                    <p class="text-left text-sm-left text-center" style="margin-bottom: 10px;font-size: 12px;"><strong>OPTIMIZATIONS:</strong><br></p>
                                    <ul>
                                        <li style="font-size: 12px;">18% Incluse new products</li>
                                        <li style="font-size: 12px;">17% Improve description and keywords</li>
                                        <li style="font-size: 12px;">37% Change price in some articles</li>
                                    </ul>
                                    <p class="text-left text-sm-left text-center" style="margin-bottom: 10px;font-size: 12px;"><strong>TOOLS AVAILABLE:</strong></p>
                                    <ul>
                                        <li style="font-size: 12px;">Market niches analyzer</li>
                                        <li style="font-size: 12px;">Product analyzer</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End: content -->
                            <!-- Start: footer -->
                            <div class="footer-imagia w-100 text-secondary position-absolute text-center py-2"><a class="btn btn-primary" role="button" style="padding: 6px 40px;background-color: #856730; border: none !important" href="charts/products.html" target="_blank">VISIT THE WEBSITE</a></div>
                            <!-- End: footer -->
                        </div>
                        <!-- End: back -->
                    </div>
                    <!-- End: card -->
                </div>
                <!-- End: card container -->
            </div>
            <div class="col-md-6 col-lg-3">
                <!-- Start: card container -->
                <div class="card-container-imagia">
                    <!-- Start: card -->
                    <div class="card-imagia">
                        <!-- Start: front -->
                        <div class="front-imagia">
                            <!-- Start: cover image -->
                            <div class="cover-imagia"><img class="w-100" alt="" src="assets/img/reviews2.png" style="height: 98px;"></div>
                            <!-- End: cover image -->
                            <!-- Start: user image -->
                            <div class="user-imagia"><img class="rounded-circle" alt="" src="assets/img/reviews.jpg" style="width: 130px;height: 130px;"></div>
                            <!-- End: user image -->
                            <!-- Start: texte -->
                            <div class="py-1 px-3 text-center">
                                <p class="text-secondary mb-3" style="margin-top: 15px;"><em>One of the most important thing for a good seller is a good reputation, in Mcreif we believe that we can convert you in one of the best-reputation sellers</em></p>
                            </div>
                            <!-- End: texte -->
                            <!-- Start: footer -->
                            <div class="footer-imagia w-100 text-secondary position-absolute text-center py-2"><span><i class="fa fa-plus"></i> More info</span></div>
                            <!-- End: footer -->
                        </div>
                        <!-- End: front -->
                        <!-- Start: back -->
                        <div class="back-imagia">
                            <!-- Start: content -->
                            <div class="d-flex align-items-center h-100 px-3">
                                <div>
                                    <!-- Start: Logo back -->
                                    <div class="text-center"><img class="img-fluid rounded-circle" alt="" src="assets/img/reviews.jpg" style="width: 80px;margin: 0 auto;height: 80px;"></div>
                                    <!-- End: Logo back -->
                                    <p class="text-left text-sm-left text-center" style="margin-bottom: 10px;font-size: 12px;"><strong>OPTIMIZATIONS:</strong><br></p>
                                    <ul>
                                        <li style="font-size: 12px;">25% Delivery time</li>
                                        <li style="font-size: 12px;">22% Product Quality</li>
                                        <li style="font-size: 12px;">21% Exact description</li>
                                        <li style="font-size: 12px;">19% Returned product sended</li>
                                    </ul>
                                    <p class="text-left text-sm-left text-center" style="margin-bottom: 10px;font-size: 12px;"><strong>TOOLS AVAILABLE:&nbsp;</strong><br></p>
                                    <ul>
                                        <li style="font-size: 12px;">Autocommenter</li>
                                        <li style="font-size: 12px;">Autoreporter</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End: content -->
                            <!-- Start: footer -->
                            <div class="footer-imagia w-100 text-secondary position-absolute text-center py-2"><a class="btn btn-primary" role="button" style="padding: 6px 40px;background-color: #D7311F; border: none !important" href="charts/reviews.html" target="_blank">VISIT THE WEBSITE</a></div>
                            <!-- End: footer -->
                        </div>
                        <!-- End: back -->
                    </div>
                    <!-- End: card -->
                </div>
                <!-- End: card container -->
            </div>
            <div class="col-md-6 col-lg-3">
                <!-- Start: card container -->
                <div class="card-container-imagia">
                    <!-- Start: card -->
                    <div class="card-imagia">
                        <!-- Start: front -->
                        <div class="front-imagia">
                            <!-- Start: cover image -->
                            <div class="cover-imagia"><img class="w-100" alt="" src="assets/img/profit2.jpg"></div>
                            <!-- End: cover image -->
                            <!-- Start: user image -->
                            <div class="user-imagia"><img class="rounded-circle" alt="" src="assets/img/profit.jpg" style="width: 130px;height: 130px;"></div>
                            <!-- End: user image -->
                            <!-- Start: texte -->
                            <div class="py-1 px-3 text-center">
                                <p class="text-secondary mb-3" style="margin-top: 15px;"><em>The most important thing, in this category let's analyze your income, your costs and everything for check in a fast and visual way how is going your business</em></p>
                            </div>
                            <!-- End: texte -->
                            <!-- Start: footer -->
                            <div class="footer-imagia w-100 text-secondary position-absolute text-center py-2"><span><i class="fa fa-plus"></i> More info</span></div>
                            <!-- End: footer -->
                        </div>
                        <!-- End: front -->
                        <!-- Start: back -->
                        <div class="back-imagia">
                            <!-- Start: content -->
                            <div class="d-flex align-items-center h-100 px-3">
                                <div>
                                    <!-- Start: Logo back -->
                                    <div class="text-center"><img class="img-fluid rounded-circle" alt="" src="assets/img/profit.jpg" style="width: 80px;margin: 0 auto;height: 80px;"></div>
                                    <!-- End: Logo back -->
                                    <p class="text-left text-sm-left text-center" style="margin-bottom: 10px;font-size: 12px;"><strong>OPTIMIZATIONS:</strong><br></p>
                                    <ul>
                                        <li style="font-size: 12px;">33% Profit margin</li>
                                        <li style="font-size: 12px;">21% Cost of the products</li>
                                        <li style="font-size: 12px;">15% Sports/ Leisure/ Wellness Manager should be included</li>
                                        <li style="font-size: 12px;">12% Less products of Tech category</li>
                                        <li style="font-size: 12px;">11% Change return policy</li>
                                    </ul>
                                    <p class="text-left text-sm-left text-center" style="margin-bottom: 10px;font-size: 12px;"><strong>TOOLS AVAILABLE:</strong><br></p>
                                    <ul>
                                        <li style="font-size: 12px;">Income analyzer<br></li>
                                        <li style="font-size: 12px;">Resources getter</li>
                                        <li style="font-size: 12px;">General Graphic</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End: content -->
                            <!-- Start: footer -->
                            <div class="footer-imagia w-100 text-secondary position-absolute text-center py-2"><a class="btn btn-primary" role="button" style="padding: 6px 40px;background-color: #0068A7; border: none !important" href="charts/profit.html" target="_blank">VISIT THE WEBSITE</a></div>
                            <!-- End: footer -->
                        </div>
                        <!-- End: back -->
                    </div>
                    <!-- End: card -->
                </div>
                <!-- End: card container -->
            </div>
        </div>
    </div>
</section>
<!-- End: RAFFY -->
<!-- Start: iframe -->
<div data-aos="fade-right" data-aos-duration="350"><iframe width=95% height="600" src="https://app.powerbi.com/view?r=eyJrIjoiNDBmOTc4MDItM2VlMS00OTRhLTk4MzAtYzgyYmU2MzE4Nzg4IiwidCI6IjQyOTVlNWM5LWRjMmItNDBlNS1hYWFjLThjNDc4NTE5MTdkYiIsImMiOjl9"></iframe>
<p id="parche_mcreif"><strong>McReif</strong></p>

<iframe width=95% height="600" src="https://app.powerbi.com/view?r=eyJrIjoiNzE3NDAxMDQtMzdmZC00ZjUzLWE4NGMtYzc2ZTE1MjRiMzNmIiwidCI6IjQyOTVlNWM5LWRjMmItNDBlNS1hYWFjLThjNDc4NTE5MTdkYiIsImMiOjl9"></iframe>
<p id="parche_mcreif"><strong>McReif</strong></p>

<iframe width=95% height="600" src="https://app.powerbi.com/view?r=eyJrIjoiNzE3NDAxMDQtMzdmZC00ZjUzLWE4NGMtYzc2ZTE1MjRiMzNmIiwidCI6IjQyOTVlNWM5LWRjMmItNDBlNS1hYWFjLThjNDc4NTE5MTdkYiIsImMiOjl9"></iframe>
<p id="parche_mcreif"><strong>McReif</strong></p>

<iframe width=95% height="600" src="https://app.powerbi.com/view?r=eyJrIjoiNWQ3MTJhNTktZDc1Yi00Njc5LTg4NjItYTU1OTI5YjUxOTc3IiwidCI6IjQyOTVlNWM5LWRjMmItNDBlNS1hYWFjLThjNDc4NTE5MTdkYiIsImMiOjl9"></iframe>
<p id="parche_mcreif"><strong>McReif</strong></p>
       </div>
<!-- End: iframe -->
<!-- Start: Map Clean -->
<div class="map-clean">
    <div class="container">
        <!-- Start: Intro -->
        <div class="intro">
            <h2 class="text-center">Sales heat map</h2>
            <p class="text-center">see on the map your sales in each part of the world<br></p>
        </div>
        <!-- End: Intro -->
    </div><iframe allowfullscreen="" frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDaEw6o8OhJvRQnTF3gI_tibMejtfasOlY&amp;q=Paris%2C+France&amp;zoom=15" width="100%" height="450"></iframe></div>
<!-- End: Map Clean -->
<!-- Start: sidebar --><div id="mySidebar" class="sidebar">
<a href="javascript:void(0)" class="close" onclick="closeNav()">&times;</a>
<a href="#">About</a>
<a href="#">Services</a>
<a href="#">Clients</a>
<a class="dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Tools</a>
<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Promotions</a>
    <a class="dropdown-item" href="#">Costs of goods</a>
    <a class="dropdown-item" href="#">Amazon Fees</a>
    <a class="dropdown-item" href="#">Taxes</a>
    <a class="dropdown-item" href="#">PPC Costs</a>
    <a class="dropdown-item" href="#">Operating expenses</a>
    <a class="dropdown-item" href="#">Shipping Cost</a>
    <a class="dropdown-item" href="#">Miscellaneous cost</a>
</div>
</div>
<!-- End: sidebar -->


    <footer class="mx-auto" style="background-color: rgb(248,248,248);">
      <div class="row">
        <div class="col-sm-6 col-md-4 footer-navigation">
          <h3><a href="#">Mc</a><span>Reif</span></h3>
          <h3></h3>
          <p class="links"><a href="#">Home</a><strong> · </strong><a href="#">Blog</a><strong> · </strong><a href="#">Pricing</a><strong> · </strong><a href="#">About</a><strong> · </strong><a href="#">Faq</a><strong> · </strong><a href="#">Contact</a></p>
          <p
          class="company-name">McReif © 2017</p>
        </div>
        <div class="col-sm-6 col-md-4 footer-contacts">
          <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
            <p><span class="new-line-span">21 Revolution Street</span> Madrid, Spain</p>
          </div>
          <div><i class="fa fa-phone footer-contacts-icon"></i>
            <p class="footer-center-info email text-left"> +34 555 123 456</p>
          </div>
          <div><i class="fa fa-envelope footer-contacts-icon"></i>
            <p> <a href="#" target="_blank">info@mcreif.com</a></p>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4 footer-about">
          <h4>About the company</h4>
          <p> Improve sales in different marketplaces</p>
        </div>
      </div>
    </footer>




    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/smart-forms.min.js' %}"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="{% static 'js/Off-Canvas-Sidebar-Drawer-Navbar.js' %}"></script>
    <script src="{% static 'js/Bootstrap-DataTables.js' %}"></script>
    <script src="{% static 'js/Off-Canvas-Sidebar-Drawer-Navbar-1.js' %}"></script>
    <script src="{% static 'js/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.js' %}"></script>
    <script src="{% static 'js/Feedback-Form.js' %}"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/Profile-Edit-Form.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>
    <script src="{% static 'js/Animated-Type-Heading.js' %}"></script>
  </body>

  </html>
