{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>plantilla_v3_mcreif</title>
    <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Bootstrap-DataTables.css' %}">
    <link rel="stylesheet" href="{% static 'css/CDRReporteCuotas.css' %}">
    <link rel="stylesheet" href="{% static 'css/Corporate-Footer-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/Data-Summary-Panel---3-Column-Overview--Mobile-Responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.css' %}">
    <link rel="stylesheet" href="{% static 'css/Feedback-Form.css' %}">
    <link rel="stylesheet" href="{% static 'css/gradient-navbar.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="{% static 'css/Map-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/Modern-Contact-Form.css' %}">
    <link rel="stylesheet" href="{% static 'css/Navigation-Menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/Off-Canvas-Sidebar-Drawer-Navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/Pretty-Footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/Profile-Edit-Form.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/tablaresponsive.css' %}">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md" id="app-navbar">
        <div class="container-fluid"><a class="navbar-brand" href="#"><i class="icon ion-ios-infinite" id="brand-logo"></i></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#"><i class="far fa-envelope" style="color: rgb(0,0,0);"></i></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#"><i class="fa fa-language" style="color: rgba(0,0,0,0.5);"></i></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#"><i class="fa fa-user" style="color: rgba(0,0,0,0.5);"></i></a></li>
                </ul>
        </div>
        </div>
    </nav>
    <nav class="navbar navbar-dark fixed-top bg-dark off-canvas" data-right-drawer="0" data-open-drawer="1" style="width: 200px;height: 944px;">
        <div class="container-fluid flex-column"><button class="btn btn-dark drawer-knob" type="button" data-open="drawer"><i class="fas fa-bars"></i></button>
            <div class="d-flex justify-content-between brand-line"><a class="navbar-brand" href="#">McReif</a><button class="btn btn-dark" type="button" data-dismiss="drawer"><span class="sr-only">Toggle Navigation&nbsp;</span><i class="fas fa-times"></i></button></div>
            <ul class="nav navbar-nav flex-column drawer-menu">
                <li class="nav-item" role="presentation" href="index.html"><a class="nav-link active" href="index.html"><i class="fa fa-dashboard"></i>&nbsp; Dashboard</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="graphics.html"><i class="fas fa-chart-line"></i>&nbsp; Graphics</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="products.html"><i class="fa fa-product-hunt"></i>&nbsp; Products</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="sales.html"><i class="fa fa-shopping-cart"></i>&nbsp; &nbsp;Sales</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="customers.html"><i class="fa fa-users"></i>&nbsp; Customers</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="refunds.html"><i class="fa fa-retweet"></i>&nbsp; Refunds Manager</a>
                <li class="nav-item" role="presentation"><a class="nav-link" href="reports.html"><i class="fa fa-print"></i>&nbsp; Reports</a>
                <li class="nav-item" role="presentation"><a class="nav-link" href="shipments.html"><i class="fa fa-ship"></i>&nbsp; Shipments</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="storage_fees.html"><i class="fas fa-store-alt"></i>&nbsp; Storage Fees</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="settings.html"><i class="fa fa-gear"></i>&nbsp; Settings</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="support.html"><i class="fab fa-hire-a-helper"></i>&nbsp; Support</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/logout"><i class="fa fa-print"></i>&nbsp; Logout</a>
            </ul>
        </div>
    </nav>
    <div class="d-xl-flex" style="width: 1403px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="width: 100%;height: 1485px;">
                    <div class="card d-xl-flex" style="width: 100%;height: 474px;margin: 4px;padding: 2px;">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-12 col-sm-6 col-lg-7">
                                    <h3 class="d-xl-flex align-items-xl-center"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x text-muted"></i><i class="fa fa-money fa-stack-1x fa-inverse"></i></span>Sales overview</h3>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-5 text-right">
                                    <div class="btn-group btn-group-justified" role="group"><button class="btn btn-primary active" type="button">Fiscal Year</button>
                                        <div class="dropdown btn-group" role="group"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Date Range <i class="fa fa-chevron-down"></i></button>
                                            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">Day </a><a class="dropdown-item" role="presentation" href="#">Week </a><a class="dropdown-item" role="presentation" href="#">Month </a>
                                              <a class="dropdown-item" role="presentation" href="#">Quarter </a><a class="dropdown-item" role="presentation" href="#">Year </a><a class="dropdown-item" role="presentation" href="#">All Time</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6 col-lg-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="text-center"><span class="fa-stack fa-lg fa-2x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-dollar fa-stack-1x fa-inverse"></i></span></div>
                                            <h4 class="text-center"> <a href="#">Profit</a></h4>
                                            <div class="row">
                                                <div class="col-12 col-sm-6 col-lg-4">
                                                    <h6>Raised this Year</h6>
                                                    <p><strong>$14,063</strong><small class="text-muted"><br>
<i class="fa fa-caret-down text-danger"></i><span class="text-danger"> <strong>13%</strong> </span> from last fiscal year</small>&nbsp;</p>
                                                </div>
                                                <div class="col-6 col-lg-4">
                                                    <h6>Raised this Month</h6>
                                                    <p><strong>$4,063</strong><small class="text-muted"><br>
<i class="fa fa-caret-up text-success"></i><span class="text-success"> <strong>13%</strong> </span> from last fiscal year</small>&nbsp;</p>
                                                </div>
                                                <div class="col-6 col-lg-4">
                                                    <h6>Average sale</h6>
                                                    <p><strong>$125</strong><small class="text-muted"><br>
<i class="fa fa-caret-up text-success"></i><span class="text-success"> <strong>13%</strong> </span> from last fiscal year</small>&nbsp;</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="text-center"><span class="fa-stack fa-lg fa-2x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-user-plus fa-stack-1x fa-inverse"></i></span></div>
                                            <h4 class="text-center"> <a href="#">New clients</a></h4>
                                            <div class="row">
                                                <div class="col-12 col-sm-6 col-lg-4">
                                                    <h6>New clients this Month</h6>
                                                    <p><strong>15</strong><small class="text-muted"><br>
<i class="fa fa-caret-down text-danger"></i><span class="text-danger">20<strong>%</strong> </span> from last fiscal year</small>&nbsp;</p>
                                                </div>
                                                <div class="col-6 col-lg-4">
                                                    <h6>New clients this Year</h6>
                                                    <p><strong>320</strong><small class="text-muted"><br>
<i class="fa fa-caret-down text-danger"></i><span class="text-danger">2<strong>%</strong> </span> from last fiscal year</small>&nbsp;</p>
                                                </div>
                                                <div class="col-6 col-lg-4">
                                                    <h6>Average First payment</h6>
                                                    <p><strong>$55</strong><small class="text-muted"><br>
<i class="fa fa-caret-up text-success"></i><span class="text-success"> <strong>13%</strong> </span> from last fiscal year</small>&nbsp;</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="text-center"><span class="fa-stack fa-lg fa-2x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-ticket fa-stack-1x fa-inverse"></i></span></div>
                                            <h4 class="text-center"> <a href="#">Sold products</a></h4>
                                            <div class="row">
                                                <div class="col-12 col-sm-6 col-lg-4">
                                                    <h6>Products Sold this Year</h6>
                                                    <p><strong>1,250</strong><small class="text-muted"><br>
<i class="fa fa-caret-down text-danger"></i><span class="text-danger"> <strong>13%</strong> </span> from last fiscal year</small>&nbsp;</p>
                                                </div>
                                                <div class="col-6 col-lg-4">
                                                    <h6>Profit this month</h6>
                                                    <p><strong>$4,063</strong><small class="text-muted"><br>
<i class="fa fa-caret-up text-success"></i><span class="text-success"> <strong>13%</strong> </span> from last fiscal year</small>&nbsp;</p>
                                                </div>
                                                <div class="col-6 col-lg-4">
                                                    <h6>New products</h6>
                                                    <p><strong>72</strong><small class="text-muted"><br>
<i class="fa fa-caret-up text-success"></i><span class="text-success"> <strong>13%</strong> </span> from last fiscal year</small>&nbsp;</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-6 col-md-8">
                                    <h3 class="h2"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x text-muted"></i><i class="fa fa-heartbeat fa-stack-1x fa-inverse"></i></span>Seller Velocity</h3>
                                </div>
                                <div class="col-6 col-md-4 text-right"><button class="btn btn-link" type="button">Get Advice <i class="fa fa-chevron-right"></i></button></div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <h2 class="text-center">Seller Velocity: <span class="text-warning">Medium </span></h2>
                                </div>
                            </div>
                            <div class="row d-xl-flex justify-content-xl-end" style="width: 1140px;padding: 33px;">
                                <div class="col-6 col-sm-4 col-lg-2">
                                    <p class="text-center"><span class="fa-stack"><i class="fa fa-circle text-primary fa-stack-2x"></i><i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i><br>
<br>
</span><br>

                                        <span
                                            class="h2">189 </span><br>
<span class="text-uppercase text-muted h6">PRODUCTS Sold</span></p>
                                </div>
                                <div class="col-6 col-sm-4 col-lg-2">
                                    <p class="text-center"><span class="fa-stack"><i class="fa fa-circle text-primary fa-stack-2x"></i><i class="fa fa-line-chart fa-stack-1x fa-inverse"></i><br>
<br>
</span><br>
<span class="h2">12 </span><br>

                                        <span
                                            class="text-uppercase text-muted h6">PRODUCTS per week</span>
                                    </p>
                                </div>
                                <div class="col-6 col-sm-4 col-lg-2">
                                    <p class="text-center"><span class="fa-stack"><i class="fa fa-circle text-primary fa-stack-2x"></i><i class="fa fa-dollar fa-stack-1x fa-inverse"></i><br>
<br>
</span><br>
<span class="h2">$3,250 </span><br>

                                        <span
                                            class="text-uppercase text-muted h6">PROFIT</span>
                                    </p>
                                </div>
                                <div class="col-6 col-sm-4 col-lg-2">
                                    <p class="text-center"><span class="fa-stack"><i class="fa fa-circle text-primary fa-stack-2x"></i><i class="fa fa-laptop fa-stack-1x fa-inverse"></i><br>
<br>
</span><br>
<span class="h2">1,204 </span><br>

                                        <span
                                            class="text-uppercase text-muted h6">visits TO PRODUCTS</span>
                                    </p>
                                </div>
                                <div class="col-6 col-sm-4 col-lg-2">
                                    <p class="text-center"><span class="fa-stack"><i class="fa fa-circle text-primary fa-stack-2x"></i><i class="fa fa-share-alt fa-stack-1x fa-inverse"></i><br>
<br>
</span><br>
<span class="h2">93 </span><br>

                                        <span
                                            class="text-uppercase text-muted h6">Social mentions</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div><div class="map-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Heat Map</h2>
            <p class="text-center">Heat Map about your sales</p>
        </div>
    </div><iframe title="Mapa de ventas" allowfullscreen src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDaEw6o8OhJvRQnTF3gI_tibMejtfasOlY&amp;q=Paris%2C+France&amp;zoom=15" width="100%" height="450"></iframe></div>
                    <footer class="mx-auto" style="background-color: rgb(248,248,248);">
                        <div class="row">
                            <div class="col-sm-6 col-md-4 footer-navigation">
                                <h3><a href="#">Mc</a><span>Reif</span></h3>
                                <h3></h3>
                                <p class="links"><a href="#">Home</a><strong> · </strong><a href="#">Blog</a><strong> · </strong><a href="#">Pricing</a><strong> · </strong><a href="#">About</a><strong> · </strong><a href="#">Faq</a><strong> · </strong><a href="#">Contact</a></p>
                                <p
                                    class="company-name">McReif © 2017</p>
                            </div>
                            <div class="col-sm-6 col-md-4 footer-contacts">
                                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                                    <p><span class="new-line-span">21 Revolution Street</span> Madrid, Spain</p>
                                </div>
                                <div><i class="fa fa-phone footer-contacts-icon"></i>
                                    <p class="footer-center-info email text-left"> +34 555 123 456</p>
                                </div>
                                <div><i class="fa fa-envelope footer-contacts-icon"></i>
                                    <p> <a href="#" target="_blank">paula@mcreif.com</a></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-4 footer-about">
                                <h4>About the company</h4>
                                <p> Improve sales in different marketplaces</p>
                                <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
    <div class="container"></div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/smart-forms.min.js' %}"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="{% static 'js/Off-Canvas-Sidebar-Drawer-Navbar.js' %}"></script>
    <script src="{% static 'js/Bootstrap-DataTables.js' %}"></script>
    <script src="{% static 'js/Off-Canvas-Sidebar-Drawer-Navbar-1.js' %}"></script>
    <script src="{% static 'js/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.js' %}"></script>
    <script src="{% static 'js/Feedback-Form.js' %}"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/Profile-Edit-Form.js' %}"></script>
</body>

</html>
