<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>plantilla_v3_mcreif</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
    <link rel="stylesheet" href="../static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../static/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../static/css/Bootstrap-DataTables.css">
    <link rel="stylesheet" href="../static/css/CDRReporteCuotas.css">
    <link rel="stylesheet" href="../static/css/Corporate-Footer-Clean.css">
    <link rel="stylesheet" href="../static/css/Data-Summary-Panel---3-Column-Overview--Mobile-Responsive.css">
    <link rel="stylesheet" href="../static/css/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.css">
    <link rel="stylesheet" href="../static/css/FAQ-Frequentlly-Asked-Questions-1.css">
    <link rel="stylesheet" href="../static/css/FAQ-Frequentlly-Asked-Questions.css">
    <link rel="stylesheet" href="../static/css/Feedback-Form.css">
    <link rel="stylesheet" href="../static/css/gradient-navbar-1.css">
    <link rel="stylesheet" href="../static/css/gradient-navbar.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="../static/css/Map-Clean.css">
    <link rel="stylesheet" href="../static/css/Modern-Contact-Form.css">
    <link rel="stylesheet" href="../static/css/Navigation-Menu.css">
    <link rel="stylesheet" href="../static/css/Off-Canvas-Sidebar-Drawer-Navbar.css">
    <link rel="stylesheet" href="../static/css/Pretty-Footer.css">
    <link rel="stylesheet" href="../static/css/Pricing-Table.css">
    <link rel="stylesheet" href="../static/css/Profile-Edit-Form-1.css">
    <link rel="stylesheet" href="../static/css/Profile-Edit-Form.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/tablaresponsive-1.css">
    <link rel="stylesheet" href="../static/css/tablaresponsive.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md" id="app-navbar">
        <div class="container-fluid"><a class="navbar-brand" href="#"><i class="icon ion-ios-infinite" id="brand-logo"></i></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#"><i class="far fa-envelope" style="color: rgb(0,0,0);"></i></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#"><i class="fa fa-language" style="color: rgba(0,0,0,0.5);"></i></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#"><i class="fa fa-user" style="color: rgba(0,0,0,0.5);"></i></a></li>
                </ul>
        </div>
        </div>
    </nav>
    <nav class="navbar navbar-dark fixed-top bg-dark off-canvas" data-right-drawer="0" data-open-drawer="1" style="width: 184px;">
        <div class="container-fluid flex-column"><button class="btn btn-dark drawer-knob" type="button" data-open="drawer"><i class="fas fa-bars"></i></button>
            <div class="d-flex justify-content-between brand-line"><a class="navbar-brand" href="#">McReif</a><button class="btn btn-dark" type="button" data-dismiss="drawer"><span class="sr-only">Toggle Navigation&nbsp;</span><i class="fas fa-times"></i></button></div>
            <ul class="nav navbar-nav flex-column drawer-menu">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="index.html"><i class="fa fa-dashboard"></i>&nbsp; Dashboard</a></li>
<li class="nav-item" role="presentation"><a class="nav-link" href="graphics.html"><i class="fas fa-chart-line"></i>&nbsp; Graphics</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="products.html"><i class="fa fa-product-hunt"></i>&nbsp; Products</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="sales.html"><i class="fa fa-shopping-cart"></i>&nbsp; &nbsp;Sales</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="customers.html"><i class="fa fa-users"></i>&nbsp; Customers</a><a class="nav-link" href="refunds.html"><i class="fa fa-retweet"></i>&nbsp; Refunds Manager</a><a class="nav-link" href="reports.html"><i class="fa fa-print"></i>&nbsp; Reports</a>
                    <a
                        class="nav-link" href="shipments.html"><i class="fa fa-ship"></i>&nbsp; Shipments</a><a class="nav-link" href="storage_fees.html"><i class="fas fa-store-alt"></i>&nbsp; Storage Fees</a></li>
            </ul>
            <ul class="nav navbar-nav flex-column bottom-nav">
                <li class="nav-item" role="presentation"></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="settings.html"><i class="fa fa-gear"></i>&nbsp; Settings</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="support.html"><i class="fab fa-hire-a-helper"></i>&nbsp; Support</a></li>
            </ul>
        </div>
    </nav>
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h3><span class="fa-stack"><i class="fa fa-circle fa-stack-2x text-muted"></i><i class="fa fa-heart fa-stack-1x fa-inverse"></i></span>Transactions Register</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-5">
                        <h4>Name </h4>
                    </div>
                    <div class="col-md-7">
                        <h4>Amount </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="media">
                            <div><img class="rounded-circle mr-3" src="../static/img/user-photo3.jpg" width="50" height="50"></div>
                            <div class="media-body">
                                <h4><a href="#">Albert Anderson </a><span class="badge badge-success">Active client</span></h4>
                                <p class="text-muted">Donated on August 6, 2016<br>
 Payment method: MASTERCARD</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p><span class="h3">$100 </span><br>
<strong> </strong><a href="#">View Details</a></p>
                        <p></p>
                    </div>
                    <div class="col-md-3 text-right">
                        <div class="btn-group" role="group"><button class="btn btn-primary" type="button"><i class="fa fa-pencil"></i> Edit </button><button class="btn btn-primary" type="button"> <i class="fa fa-trash-o"></i></button></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="media">
                            <div><img class="rounded-circle mr-3" src="../static/img/user-photo4.jpg" width="50" height="50"></div>
                            <div class="media-body">
                                <h4><a href="#">Sara Anderson </a><span class="badge badge-success">Active client</span></h4>
                                <p class="text-muted">Donated on August 6, 2016<br>
 Payment method: VISA</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p><span class="h3">$100 </span><br>
<strong> </strong><a href="#">View Details</a></p>
                        <p></p>
                    </div>
                    <div class="col-md-3 text-right">
                        <div class="btn-group" role="group"><button class="btn btn-primary" type="button"><i class="fa fa-pencil"></i> Edit </button></div>
                        <p><small class="text-muted"> <i class="fa fa-cloud"></i> Synced</small> </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <nav>
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <footer style="background-color: rgb(248,248,248);">
            <div class="row">
                <div class="col-sm-6 col-md-4 footer-navigation">
                    <h3><a href="#">Mc</a><span>Reif</span></h3>
                    <h3></h3>
                    <p class="links"><a href="#">Home</a><strong> · </strong><a href="#">Blog</a><strong> · </strong><a href="#">Pricing</a><strong> · </strong><a href="#">About</a><strong> · </strong><a href="#">Faq</a><strong> · </strong><a href="#">Contact</a></p>
                    <p
                        class="company-name">McReif © 2017</p>
                </div>
                <div class="col-sm-6 col-md-4 footer-contacts">
                    <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                        <p><span class="new-line-span">21 Revolution Street</span> Madrid, Spain</p>
                    </div>
                    <div><i class="fa fa-phone footer-contacts-icon"></i>
                        <p class="footer-center-info email text-left"> +34 555 123 456</p>
                    </div>
                    <div><i class="fa fa-envelope footer-contacts-icon"></i>
                        <p> <a href="#" target="_blank">paula@mcreif.com</a></p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4 footer-about">
                    <h4>About the company</h4>
                    <p> Improve sales in different marketplaces</p>
                    <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
                </div>
            </div>
        </footer>
    </div>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/smart-forms.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="../static/js/Off-Canvas-Sidebar-Drawer-Navbar.js"></script>
    <script src="../static/js/Bootstrap-DataTables.js"></script>
    <script src="../static/js/Off-Canvas-Sidebar-Drawer-Navbar-1.js"></script>
    <script src="../static/js/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.js"></script>
    <script src="../static/js/Feedback-Form.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/Profile-Edit-Form.js"></script>
</body>

</html>
