<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>plantilla_v3_mcreif</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
    <link rel="stylesheet" href="../static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../static/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../static/css/Bootstrap-DataTables.css">
    <link rel="stylesheet" href="../static/css/CDRReporteCuotas.css">
    <link rel="stylesheet" href="../static/css/Corporate-Footer-Clean.css">
    <link rel="stylesheet" href="../static/css/Data-Summary-Panel---3-Column-Overview--Mobile-Responsive.css">
    <link rel="stylesheet" href="../static/css/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.css">
    <link rel="stylesheet" href="../static/css/FAQ-Frequentlly-Asked-Questions-1.css">
    <link rel="stylesheet" href="../static/css/FAQ-Frequentlly-Asked-Questions.css">
    <link rel="stylesheet" href="../static/css/Feedback-Form.css">
    <link rel="stylesheet" href="../static/css/gradient-navbar-1.css">
    <link rel="stylesheet" href="../static/css/gradient-navbar.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="../static/css/Map-Clean.css">
    <link rel="stylesheet" href="../static/css/Modern-Contact-Form.css">
    <link rel="stylesheet" href="../static/css/Navigation-Menu.css">
    <link rel="stylesheet" href="../static/css/Off-Canvas-Sidebar-Drawer-Navbar.css">
    <link rel="stylesheet" href="../static/css/Pretty-Footer.css">
    <link rel="stylesheet" href="../static/css/Pricing-Table.css">
    <link rel="stylesheet" href="../static/css/Profile-Edit-Form-1.css">
    <link rel="stylesheet" href="../static/css/Profile-Edit-Form.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/tablaresponsive-1.css">
    <link rel="stylesheet" href="../static/css/tablaresponsive.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md" id="app-navbar">
        <div class="container-fluid"><a class="navbar-brand" href="#"><i class="icon ion-ios-infinite" id="brand-logo"></i></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#"><i class="far fa-envelope" style="color: rgb(0,0,0);"></i></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#"><i class="fa fa-language" style="color: rgba(0,0,0,0.5);"></i></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#"><i class="fa fa-user" style="color: rgba(0,0,0,0.5);"></i></a></li>
                </ul>
        </div>
        </div>
    </nav>
    <nav class="navbar navbar-dark fixed-top bg-dark off-canvas" data-right-drawer="0" data-open-drawer="1" style="width: 197px;">
        <div class="container-fluid flex-column"><button class="btn btn-dark drawer-knob" type="button" data-open="drawer"><i class="fas fa-bars"></i></button>
            <div class="d-flex justify-content-between brand-line"><a class="navbar-brand" href="#">McReif</a><button class="btn btn-dark" type="button" data-dismiss="drawer"><span class="sr-only">Toggle Navigation&nbsp;</span><i class="fas fa-times"></i></button></div>
            <ul class="nav navbar-nav flex-column drawer-menu">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="index.html"><i class="fa fa-dashboard"></i>&nbsp; Dashboard</a></li>
<li class="nav-item" role="presentation"><a class="nav-link" href="graphics.html"><i class="fas fa-chart-line"></i>&nbsp; Graphics</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="products.html"><i class="fa fa-product-hunt"></i>&nbsp; Products</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="sales.html"><i class="fa fa-shopping-cart"></i>&nbsp; &nbsp;Sales</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="customers.html"><i class="fa fa-users"></i>&nbsp; Customers</a><a class="nav-link" href="refunds.html"><i class="fa fa-retweet"></i>&nbsp; Refunds Manager</a><a class="nav-link" href="reports.html"><i class="fa fa-print"></i>&nbsp; Reports</a>
                    <a
                        class="nav-link" href="shipments.html"><i class="fa fa-ship"></i>&nbsp; Shipments</a><a class="nav-link" href="storage_fees.html"><i class="fas fa-store-alt"></i>&nbsp; Storage Fees</a></li>
            </ul>
            <ul class="nav navbar-nav flex-column bottom-nav">
                <li class="nav-item" role="presentation"></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="settings.html"><i class="fa fa-gear"></i>&nbsp; Settings</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="support.html"><i class="fab fa-hire-a-helper"></i>&nbsp; Support</a></li>
            </ul>
        </div>
    </nav>
    <div class="col">
        <div class="container profile profile-view" id="profile">
            <div class="row">
                <div class="col-md-12 alert-col relative">
                    <div class="alert alert-info absolue center" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><span>Profile save with success</span></div>
                </div>
            </div>
            <form>
                <div class="form-row profile-row">
                    <div class="col-md-4 relative">
                        <div class="avatar">
                            <div class="avatar-bg center"></div>
                        </div><input type="file" class="form-control" name="avatar-file"></div>
                    <div class="col-md-8">
                        <h1>Profile </h1>
                        <hr>
                        <div class="form-row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group"><label>Firstname </label><input class="form-control" type="text" name="firstname"></div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group"><label>Lastname </label><input class="form-control" type="text" name="lastname"></div>
                            </div>
                        </div>
                        <div class="form-group"><label>Email </label><input class="form-control" type="email" autocomplete="off" required="" name="email"></div>
                        <div class="form-row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group"><label>Password </label><input class="form-control" type="password" name="password" autocomplete="off" required=""></div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group"><label>Confirm Password</label><input class="form-control" type="password" name="confirmpass" autocomplete="off" required=""></div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-row"></div>
                    </div>
                </div>
            </form>
        </div>
        <section id="pricing" class="section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="pricing-text section-header text-center">
                            <h2 class="text-center" id="pricing-table-heading">Pricing Plans</h2>
                            <div class="desc-text">
                                <p>Change your plan and pay the difference</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pricing-tables">
                    <div class="col-12 col-md-4 col-lg-4 pricing-tables">
                        <div class="pricing-table text-center">
                            <div class="pricing-details">
                                <h3>FREE<br></h3>
                                <h1><span><i class="fa fa-dollar dollar"></i></span>&nbsp;00</h1>
                                <ul>
                                    <li>Free Instalation<br></li>
                                    <li>500MB Storage<br></li>
                                    <li>Upto 2 users<br></li>
                                    <li>50 GB Bandwith<br></li>
                                    <li>All Features<br></li>
                                    <li>Sales Dashboard<br></li>
                                </ul>
                            </div>
                            <div class="text-center plan-button"><a class="text-center d-sm-inline-block d-md-inline d-lg-inline-block d-xl-inline-block btn btn-border" href="#">purchase</a></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4 pricing-tables">
                        <div class="pricing-table text-center">
                            <div class="pricing-details">
                                <h3>standard</h3>
                                <h1><span><i class="fa fa-dollar dollar"></i></span>&nbsp;19.99</h1>
                                <ul>
                                    <li>Free Instalation<br></li>
                                    <li>2 GB Storage<br></li>
                                    <li>Upto 2 users<br></li>
                                    <li>50 GB Bandwith<br></li>
                                    <li>All Features<br></li>
                                    <li>Sales Dashboard<br></li>
                                </ul>
                            </div>
                            <div class="plan-button"><a class="text-center d-sm-inline-block d-md-inline d-lg-inline-block d-xl-inline-block btn btn-border standard" href="#">purchase</a></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4 pricing-tables">
                        <div class="pricing-table text-center">
                            <div class="pricing-details">
                                <h3>business</h3>
                                <h1><span><i class="fa fa-dollar dollar"></i></span>&nbsp;29.99</h1>
                                <ul>
                                    <li>Free Instalation<br></li>
                                    <li>2 GB Storage<br></li>
                                    <li>Upto 2 users<br></li>
                                    <li>50 GB Bandwith<br></li>
                                    <li>All Features<br></li>
                                    <li>Sales Dashboard<br></li>
                                </ul>
                            </div>
                            <div class="plan-button"><a class="text-center float-none d-sm-inline-block d-md-inline d-lg-inline-block d-xl-inline-block btn btn-border" href="#">purchase</a></div>
                        </div>
                    </div>
                </div><br><br><br><br>
                <div class="col-md-12 content-right"><button class="btn btn-primary form-btn" type="submit">SAVE </button><button class="btn btn-danger form-btn" type="reset">CANCEL </button><br><br><br><br></div>
            </div>
        </section>
    </div>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/smart-forms.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="../static/js/Off-Canvas-Sidebar-Drawer-Navbar.js"></script>
    <script src="../static/js/Bootstrap-DataTables.js"></script>
    <script src="../static/js/Off-Canvas-Sidebar-Drawer-Navbar-1.js"></script>
    <script src="../static/js/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.js"></script>
    <script src="../static/js/Feedback-Form.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/Profile-Edit-Form.js"></script>
</body>

</html>
